@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lato {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  max-width: 96rem;
  margin: 0 auto;
}

/* Navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7.5rem;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.logo:hover {
  border-radius: 0.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sm-menu {
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.menu > li {
  list-style: none;
}

.menu > li > a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #344054;
}

.menu > li > a:hover {
  color: #a657e7;
  padding-bottom: 0.25rem;
  border-bottom: 0.125rem solid #a657e7;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-2 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

#child_content {
  display: none;
}

#child_content.show-content {
  display: block;
}

#nested_child_content {
  display: none;
}

#nested_child_content.show-content {
  display: block;
}

.dropdown-content-2 {
  z-index: 10;
  left: 8rem;
  top: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #344054;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 1.125rem;
}

.dropdown-content-2 a {
  color: #344054;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 1.125rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #a657e7;
  border-bottom: 0.125rem solid #a657e7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-2:hover .dropdown-content-2 {
  display: block;
}

.nav-btn-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.btn-gray {
  border: 0.125rem solid #d0d5dd;
  border-radius: 1.5rem;
  padding: 0.5rem 1.625rem;
  cursor: pointer;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
}

.btn-gray:hover {
  background-color: #d0d5dd;
  color: white;
}

.btn-purple {
  border: 0.125rem solid #a657e7;
  border-radius: 1.5rem;
  padding: 0.5rem 1.625rem;
  cursor: pointer;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #a657e7;
}

.btn-purple:hover {
  background-color: #a657e7;
  color: white;
}

.dropdown_menu {
  display: none;
}

/* Hero Section */

.hero {
  background-color: #f5f5f5;
  padding: 5rem 7.5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;
  align-items: start;
}

.hero-talents {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  color: #344054;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
}

.title-color {
  background: linear-gradient(to right, #2b034d, #b564f7, #d37ef0, #ef90ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-price {
  color: #d32e23;
}

.hero-description {
  font-size: 1.125rem;
  color: #344054;
}

.hero-btns {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
}

.btn-purple-filled {
  border: 0.125rem solid #a657e7;
  border-radius: 1.5rem;
  color: white;
  background: linear-gradient(to bottom, #b564f7, #6a2f9b);
  cursor: pointer;
  padding: 0.5rem 1.625rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

.btn-purple-filled:hover {
  background: white;
  color: #a657e7;
}

.hero-img-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

.hero-img-container > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 1.25rem;
  flex: 1 1 100%;
}

.video-play {
  position: absolute;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.hero-social-icons {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-social-icons > div {
  background-color: white;
  border-radius: 1rem;
  padding: 1.25rem 1.5rem;
}

.hero-social-icons > div > p {
  font-size: 1.25rem;
  font-weight: 500;
}

.social-icons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-container {
  height: 1rem;
  width: 1rem;
  background-color: #e6e6e6;
  border-radius: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  background-color: #ef90ff;
}

/* Tablet Responsive */

@media only screen and (max-width: 64rem) {
  /* Navbar */

  .lg-menu {
    display: none;
  }

  .dropdown_menu {
    display: block;
  }

  .nav-container {
    padding: 1rem;
  }

  /* Hero Section */

  .hero {
    padding: 1rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .hero-social-icons {
    grid-column: span 1;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}

/* Mobile Responsive */

@media only screen and (max-width: 40rem) {
  /* Navbar */

  .lg-menu {
    display: none;
  }

  .dropdown_menu {
    display: block;
  }

  .nav-container {
    padding: 0.5rem;
  }

  /* Hero Section */

  .hero {
    padding: 0.5rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .hero-social-icons {
    grid-column: span 1;
  }

  .hero-img-container {
    flex-wrap: wrap;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}
